.highlights {

    width: 80%;

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
    list-style: none;
    padding: 1rem 0 3rem 0 !important;

    // border-top: 1px solid #4e4e4e8e;


    .highlight {

        max-width: 30%;
        text-align: center;
    }
}