.logo {
	width: 20%;
}

.heroBanner {

	padding-bottom: 4rem;
	text-align: center;
	position: relative;
	overflow: hidden;
}


.hstack {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.centered {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.codeBlock {
	max-width: fit-content;
	margin: 0 1em;

	pre {
		margin: 0;
	}
}

@media screen and (max-width: 996px) {

	.heroBanner {
		padding: 2rem;
	}
}

.buttons {

	display: flex;
	align-items: center;
	justify-content: center;
}
