.features {

    margin-bottom: 5em;

    .feature {

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        padding: 2em;
        margin: 1em;

        border: 1px solid rgba(117, 117, 117, 0.295);
        border-radius: 10px;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.07);

        color: inherit !important;
        text-decoration: none !important;

        transition: .2s linear; 

        &:hover {

            transform: scale(1.04);
        }

        &__title {

            text-align: center;
            font-size: 1.25em;
            font-weight: 600;
            margin-top: 1em;
            margin-bottom: 0 !important;
        }
    }
}